*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --lightblack: #2c2c2c;
}
body{
  font-family: 'Open Sans', sans-serif;
}
 .container{
  width: 1300px;
  margin: 0 auto;
} 

.navbar{
  width: 100%;
  height: 70px;
top: 0;
box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
position:fixed;
background:white;
z-index: 1;

}
.busket{
  width: auto;
}

.nav__container{
  
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
 
  justify-content: space-between;

}
.nav__left img{
 width: 80px; 
}
/* .Header{
  /* background: url('./Images/banner.jpg');
  width: 100%;
  height: 10%;
  background-repeat: no-repeat; */
/* } */ */
.nav_right{
width: auto;

}
.icon{
  font-size: 30px;
  margin-right: 50px;
width: auto;

}
.busket{
  position: relative;
}
.busket span{
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  right: 13px;
  top: 9px;
  margin-right: 50px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--lightblack);
  color: white;
  font-size: 12px;
}
.carousel-item img{
  object-fit: contain;
  
}
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-3{
  width: 25%;

}
.col-6{
  width: 50%;

}

.product{
  padding: 25px ;
  width: 100%;
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 230px;
overflow: hidden;
}
.product-img img{
  width: 100%;
  height: 100%;
 
  transition: all 0.5s linear;
}
.product-img img:hover{

transform: scale(1.2);
}

.product_name{
  margin: 10px 0;
  text-transform: capitalize;
  color: #707070;
}
.product_discount_price{
  text-align: right;
  font-size: 18px;
}
.product_price .discount {
  color: silver;
  font-weight: 400;
  font-size: 13px;

}
.actualPrice{
  text-decoration: line-through;
  font-size: 18px;

}

@media(max-width:765px){
  .container{
   width: 100%;
  padding: 0 30px;

  }
  .col-3{
    width: 50%;
  }
 
  .col-2{
    width: 100%;
    text-align: center;

  }
  .col-6{
    width: 100%;
  }
  .cart_heading{
    display: none;
  }
  .summary-col{
    width: 100% !important;
  }
  .col-9{
    width: 100%;
  }
}
@media(max-width:440px){
  .col-3{
    width: 100%;
  }
  
  .col-2{
    width: 100%;
    align-items: center;
  }
  .cart_heading{
    display: none;
  }
  .col-6{
    width: 100%;
  }
}

.social-part .fa{
  padding-right:50px;
}
ul li a{
  margin-right: 20px;
}
.summary-col{
  width: 100% !important;
}
.col-9{
  width: 100%;
}




































